html {
    font-size: 15px;
    background-color: #FFEFD5;
}

p {
    color: darkviolet;
    font-family: 'Zeyada', cursive;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    padding: 20px 0;
    text-shadow: 2px 2px 2px white;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FFE4B5;
    padding: 0 20px 20px 20px;
    border: 12px solid white;
}

img {
    display: block;
    margin: 0 auto;
}